<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="stylesheet" href="./css/login.css">
    <title>LogIN</title>
</head>
<body>
<header>
     <div class="logo">
        <a href="./index.html">ROSIER</a>
      </div>

      <li><a href="./login.html" class="link">LOG IN/REGISTER</a></li>
      <nav>
        <ul class="list-items">
          <li><a href="#" class="link">MARROQUINERIA</a></li>
          <li><a href="#" class="link">ZAPATOS</a></li>
          <li><a href="#" class="link">JOYERIA</a></li>
          <li><a href="#" class="link">ACCESORIOS</a></li>
          <li><a href="#" class="link">GIFTs</a></li>
        </ul>

        <div class="nav-btns">
          <div class="buscador">
            <input :class="collap">
          </div>
          <i @click="expandir" class="fas fa-search"></i>
          <i class="fas fa-cart-plus"></i>
        </div>
      </nav>
</header>

</body>

</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./css/index.css" />
    <title>Login</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="./index.html">ROSIER</a>
          </div>
    
          <li><a href="./login.html" class="link">LOG IN/REGISTER</a></li>
          <nav>
            <ul class="list-items">
              <li><a href="#" class="link">MARROQUINERIA</a></li>
              <li><a href="#" class="link">ZAPATOS</a></li>
              <li><a href="#" class="link">JOYERIA</a></li>
              <li><a href="#" class="link">ACCESORIOS</a></li>
              <li><a href="#" class="link">GIFTs</a></li>
            </ul>
    
            <div class="nav-btns">
              <div class="buscador">
                <input :class="collap">
              </div>
              <i @click="expandir" class="fas fa-search"></i>
              <i class="fas fa-cart-plus"></i>
            </div>
          </nav>
    </header>
    <div id="app">
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#">
			<h1>Create Account</h1>
			<input v-model="nombre" type="text" placeholder="Nombre" />
      <input v-model="apellido" type="text" placeholder="Apellido">
			<input v-model="email" type="email" placeholder="Email" />
			<input v-model="contraseña" type="password" placeholder="Contraseña" />
			<button type="button" @click="register()">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Sign in</h1>
			<input v-model="email" type="email" placeholder="Email" />
			<input v-model="contraseña" type="password" placeholder="Password" />
			<a href="#">Forgot your password?</a>
			<button type="button" @click="login()">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="./js/login.js"></script>
</body>
</html>
